{
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": ["off"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "consistent-return": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "indent": ["error", 4, {"SwitchCase": 1}],
    "max-len": [
      "error", {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "no-continue": ["off"],
    "no-irregular-whitespace": ["error", {"skipComments": true}],
    "no-param-reassign": ["off"],
    "no-plusplus": ["off"],
    "no-underscore-dangle": ["off"],
    "no-unused-expressions": ["error", {"allowShortCircuit": true}],
    "valid-jsdoc": [
      "error", {
        "preferType": {"object": "Object", "array": "Array"},
        "requireReturn": false,
        "requireParamDescription": false,
        "requireReturnDescription": false
      }
    ]
  },
  "env": {
    "node": true
  },
  "plugins": [
    "html"
  ]
}